.profileWrapper {
    max-width: 600px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.4);
}

.container {}

.inputNewPost{
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}