.dialogsWrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsList {
}

.dialogsItem {
    display: flex;
    justify-content: center;
}

.chatContent {
}

.messagesWrapper {
    overflow: auto;
    max-height: 70vh;
    height: 100%;
}

.messages {
    height: 70vh;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message {
    display: inline-block;
    padding: 3px;
    margin: 2px;
    border-radius: 5px;
    /*background-color: rgba(46, 148, 255, 0.68);*/
    word-wrap: break-word;
}

.messageInput {
    height: 20px;
    width: 100%;
    background-color: transparent;
    border: 0;
    resize: none;
    font-size: 14px;
    line-height: 18px;
    padding-left: 10px;
    overflow: auto !important;
}

.messageInput:focus-visible {
    outline: none;
}

.messageSend {
    margin-top: .5rem;
    border-radius: 15px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 425px) {
    .messageSend {
        width: 80%;
    }
}

.messageBtn:hover {
    background-color: white !important;
}
