.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: 5px;
}

.dialogsList {
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.dialogsItem {
    padding: 10px 5px;
}

.dialogsItem:hover {
    background-color: whitesmoke;
}

.dialogsItem:active {
    background-color: whitesmoke;
}

.dialogContent {
}

.dialogWrapper {
}

.messages {
    background-color: white;
    padding: 5px;
}

.message {
    width: max-content;
    background-color: whitesmoke;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
}

.messageInput {
    height: 20px;
    width: 100%;
    background-color: transparent;
    border: 0;
    resize: none;
    font-size: 14px;
    line-height: 18px;
    padding-left: 10px;
    overflow: auto !important;
}

.messageInput:focus-visible {
    outline: none;
}

.messageSendArea {
    margin-top: 5px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 425px) {
    .messageSendArea {
        width: 80%;
    }
}

.messageBtn:hover {
    background-color: white !important;
}
