.dialogs {
    display: grid;
    grid-template-areas:
    "search messages messages"
    "sidebar messages messages"
    "sidebar input input";
    gap: 5px;
    max-height: 70vh;
    height: 100%;
}

.dialogsList {
    grid-area: sidebar;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.dialogsListSearch {
    grid-area: search;
}

.dialogsItem {
    padding: 10px 5px;
}

.dialogsItem:hover {
    background-color: whitesmoke;
}

.dialogsItem:active {
    background-color: whitesmoke;
}

.dialogContent {
}

.dialogWrapper {
    position: relative;
    height: 100%;
}

.messages {
    grid-area: messages;
    overflow: auto;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.messagesWrapper {
}

.message {
    width: max-content;
    max-width: 40%;
    background-color: whitesmoke;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
}

.messageInput {
    height: 20px;
    width: 100%;
    background-color: transparent;
    border: 0;
    resize: none;
    font-size: 14px;
    line-height: 18px;
    padding-left: 10px;
    overflow: auto !important;
}

.messageInput:focus-visible {
    outline: none;
}

.messageSendArea {
    grid-area: input;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 425px) {
    .messageSendArea {
        width: 80%;
    }
}

.messageBtn:hover {
    background-color: white !important;
}
