.sidebar {
    background-color: white;
    border-radius: 15px;
    grid-area: s;
}
.sidebar > nav {
    height: 100%;
}

.sidebar-list {
    min-height: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sidebar-list > li {
    margin-bottom: 50px;
}