.header {
  grid-area: h;
  padding: 0 15px;
  background-color: white;
  box-shadow: 0 4px 4px rgba(152, 152, 152, 0.45);
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  margin: auto;
  font-size: 36px;
  font-weight: 700;
}

.list {
  padding: .5rem 0px;
  display: grid;
  grid-template-columns: 4fr 14fr;
  gap: 1rem;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.links > li {
  margin: auto;
}

@media (max-width: 375px) {
  .logo {
    font-size: 26px;
  }
}