.header {
  /* background-color:goldenrod; */
  grid-area: h;
}
.header img {
  max-width: 50px;
  max-height: 50px;
}

.list {
  padding: 16px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login {
  padding-right: 2px;
  border-right: 1px solid black;
}

.auth {
  padding-left: 2px;
}