.sidebar {
    background-color: white;
    border-radius: 15px;
    grid-area: s;
    height: 70vh;
}
.sidebar > nav {
    height: 100%;
}

.sidebar-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sidebar-list > li {}

@media (max-width: 375px) {
    .sidebar {
        display: none;
    }
}