.sidebar {
    font-size: 1rem;
    border-radius: 15px;
    grid-area: s;
    min-height: 500px;
    margin-left: 15px;
    position: sticky;
    left: 0;
}

.sidebar > nav {}

.sidebarList {
    display: flex;
    flex-direction: column;
}

.sidebarItem {
    height: 44px;
    margin: auto 0;
}

.sidebarItemWrapper > a {
    display: flex;
    align-items: center;
    margin: auto 0;
    width: 100%;
    height: 100%;
    padding-left: .5rem;
}

.sidebarItemWrapper {
    height: 100%;
    margin: auto 0;
}

a > span {
    margin-left: .5rem;
}

.sidebarList > li:hover {
    background-color: rgba(150, 150, 150, 0.55);
    transition: .3s ease-in-out;
}

@media (max-width: 375px) {
    .sidebar {
        display: none;
    }
}

.sidebarItemWrapper > a:active {
    transition: .3s ease-in-out;
    background-color: dimgrey;
}
