.App {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
  "h h"
  "s m"
  "f f";
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 14fr;

    grid-gap: 1rem;
    position: relative;
}

.wrapper {
    padding-right: 15px;
    position: relative;
}

@media (max-width: 375px) {
    .wrapper {
        padding: 0 15px;
    }
}

