* {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: aliceblue;
    font-family: 'Roboto';
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1, h2, h3, h5, h5, h6, p {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

@media (max-width: 375px) {
    html, body {
        font-size: 12px;
    }
}